.footer{
    position: relative;
    padding: 20px 0;
    background: #252525;
    border-top: 1px solid #eee;
    z-index: 1;
}
.footer_box{
    
    border-radius: 8px;
    padding: 40px;
    color: #fff;
}
.footer_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.footer_info p{
    position: relative;
    padding-left: 35px;
    font-size: 24px;
    font-weight: 700;
}
.footer_info p.num::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../../img/phone.png)no-repeat center/cover;
    
}
.footer_info p.address::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../../img/marker.png)no-repeat center/cover;
}
.footer_info p.email::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 28px;
    height: 18px;
    background: url(../../img/email1.png)no-repeat center/cover;
}
.footer_about{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.copyright{
    text-align: center;
    line-height: 1.4444;
    font-size: 14px;
}