.header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.5);
}
.header .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    width: 200px;
    height: 60px;
    background-color: bisque;
}
.header .nav_list{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}
.header .nav_list li + li{
    margin-left: 20px;
}