@media screen and (max-width: 1700px) {
    html {
      font-size: 19px;
    }
  }
@media all and (max-width: 1550px) {
   html {
      font-size: 18px;
    }
 
}
@media screen and (max-width: 1380px) {
  html {
      font-size: 17px;
    }
}
@media all and (max-width: 1041px) {
  html {
      font-size: 16px;
    }
  
}
@media screen and (max-width: 850px) {
    /* header , footer common start*/
    html {
        font-size: 4.16666vw;
      }
}
