
@media screen and (max-width: 850px) {
    /* header , footer common start*/
    html {
        font-size: 4.16666vw;
        
      }
      .logo{
        width: 1.875rem;
      }
      .header_box{
        height: 2.9412rem;
      }
      .h_right{
        height: 2.9412rem;
      }
      .h_left{
        top: .3529rem;
        left: .8824rem;
      }
       
      .gnb li{
        font-size: .875rem;
      }
      .gnb li+li{
        margin-left: .625rem;
      }
      .main_text_box p{
        font-size: 2.25rem;
      }
      .main_text_box h2{
        font-size: 1.25rem;
        
      }
      .about_box{
        flex-direction: column;
      }
      section{
        height: 100%;
        padding:.5882rem 0;
      }
      .about_left img{
        width: 12.5rem;
      }
      .tit_box{
        font-size: 2.25rem;
        padding: 2.5rem 0;
      }
      
      .about_right{
        margin-top: 1.875rem;
        text-align: left;
        margin-left: .9375rem;
        padding-bottom: 2.5rem;
      }
      .about_right h3{
        font-size: 1.125rem;
      }
      .profile li p{
        font-size: .875rem;
      }
      .profile li span{
        font-size: .875rem;
      }
      .histoy_list li{
        line-height: 1.5;
      }
      .histoy_list li p{
        width: auto;
        font-size: .875rem;
        padding-right: .625rem;
      }
      .histoy_list li span{
        font-size: .875rem;
      }
      .portfolio_box{
        flex-direction: column;
        margin: 0 .4412rem;
      }
     
      .portfolio{
        padding-bottom: 1.7647rem;
      }
      .portfolio_text_box p.portfolio_info{
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.3;
      }
      .portfolio_text_box p{
        font-size: .9412rem;
        line-height: 1.5;
      }
      .portfolio_text_box .link a{
        width: 4.7059rem;
        height: 2.3529rem;
        line-height: 2.3529rem;
        font-size: .9412rem;
      }
      .footer_info{
        flex-direction: column;
        align-items: flex-start;
      }
      .footer_info p{
        font-size: .9412rem;
      }
      .footer_info p.num::after{
        width: 1.1765rem;
        height: 1.1765rem;
      }
      .footer_info p.address::after{
        width: 1.1765rem;
        height: 1.1765rem;
      }
      .footer_info p.email::after{
        width: 1.4118rem;
        height: .9412rem;
      }
      .footer_about{
        font-size: 1.1765rem;
        line-height: 1.4444;
      }
      .copyright{
        font-size: .7059rem;
      }
      .footer_info .address,
      .footer_info .email{
        margin-top: .8824rem;
      }
      .portfolio_info_top{
        max-width: 19.4118rem;
        line-height: 2.3529rem;
      }
      .portfolio_info_top .close{
        width: .8824rem;
        height: .8824rem;
      }
      .portfolio_info_top .tit{
        font-size: .9412rem;
      }
      .portfolio_info_row{
       
        max-width: 19.4118rem;
      }
      .portfolio_info_row p{
        font-size: .8235rem;
      }

}
