
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height: 100vh;
}
/* main */
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .title{
    font-size: 72px;
    font-weight: 700;
    font-family: "Gmarket Sans";
    text-align: center;
}
.main .ment{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.2;
}

